{% extends "AdminBundle::layout.html.twig" %}

{% block title %}Ajout Cinéma{% endblock %}

{% block body %}
    <br>
    <h1>
        {% if fromDetail == 'true' %}
            <a type="button" class="btn btn-info left-button" href="../../detailCinema/{{ idCinema }}">
                <span class="oi oi-chevron-left"></span>
            </a>
        {% else %}
            <a type="button" class="btn btn-info left-button" href="../../">
                <span class="oi oi-chevron-left"></span>
            </a>
        {% endif %}
        {{ title }} Cinéma
    </h1>

    {{ form(form, {'attr': {'class': 'form-horizontal'}}) }}
{% endblock %}

{% block javascripts %}
    $(document).ready(function () {
        $(".nav li").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#addCinema').addClass('active');
    });
{% endblock %}
